<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:object="${city}" th:action="@{/city/update}" method="post">
    <input th:field="*{name}" required><br>
    <input th:field="*{id}" type="hidden" required><br>
    <select name="nation">
        <option th:each="item : ${nation}" th:text="${item.nameNation}" ></option>
    </select><br>
    <input th:field="*{acreage}" type="number" required><br>
    <input th:field="*{population}" type="number" required><br>
    <input th:field="*{gdp}" type="number" required><br>
    <textarea th:field="*{description}" required></textarea><br>
    <button>Confirm</button>
</form>
<form>
    <a th:href="@{/city}">Exit</a>
</form>
</body>
</html>